.shows-card {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	box-shadow: 8px -8px 0 0 #301a68;
	background-color: var(--purple);
}

.artist-image {
	border-radius: 8px 8px 0 0;
}

.shows-card p {
	margin: 1em 1em 0 1em;
}

.shows-card span {
	display: inline;
	padding: 0.2em 0.6em;
	border-radius: 1px;
	background-color: var(--yellow);
	color: var(--yellow-dark);
	font-size: 12px;
	font-weight: 600;
}

.shows-card h3 {
	margin: 0.5em 1em 0 1em;
}

.card-end {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1em;
}

.card-end a {
	color: var(--blue);
}

.card-end .union {
	color: var(--pink);
}

@media (max-width: 1250px) {
	.shows-card {
		margin-right: 2em;
	}
}
